@bower-components: '../bower_components';

/* Angular material */
@import (less) '@{bower-components}/angular-material/angular-material.min.css';
@import (less) '@{bower-components}/angular-hero/angular-hero.css';

/* Some fix for have no href */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}
@sm-screen: 600px;
@background-color: #E0E0E0;
@mainbar-height: 64px;
 
body {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: @background-color;
  .content {
    overflow: auto;
    background-color: @background-color;
    [ui-view] {
      background-color: @background-color;
      .main-button {
        position: fixed;
        //todo: 16px on mobile
        right: 24px;
        bottom: 16px;
        ng-md-icon {
          margin-top: 4px;
        }
      }
    }
  }
}

//App less
@import 'members/styles';
@import 'utils/styles';
@import 'seasons/styles';
