#home(layout="column" layout-align="start center")
  h3 Bienvenue sur Memnarch !
  .actions(layout="row" layout-align="center")
    a.button.button-raised.md-primary(ui-sref="login" ng-if="!loginFactory.isAuthenticated()") Se connecter

