@import 'new/styles';
@import 'details/styles';

@arrow-size: 8px;
#members {
  .member {
    .name {
      font-weight: bold;
    }
    .dci-number {
      opacity: 0.8;
      font-style: italic;
    }
  }
}
