@import 'new/styles';
@import 'details/styles';

@arrow-size: 8px;
#members {
  .member {
    .md-avatar {
      md-icon {
        height: 40px;
      }
    }
    .name {
      font-weight: bold;
    }
    .dci-number {
      opacity: 0.8;
      font-style: italic;
    }
  }
}
