@import 'new/styles';
@import 'details/styles';

@arrow-size: 8px;
#members {
  height: 100%;
  overflow: hidden;
  background-color: @background-color;
  .members-list {
    background-color: @background-color;
    padding-right: 16px + @arrow-size;
    height: 100%;
    overflow: hidden;
    .search {
      height: 24px;
      padding-right: 20px;
    }
    md-list {
      overflow: auto;
      padding-right: 20px;
    }
    .member {
      background: white;
      cursor: pointer;
      margin-bottom: 1px;
      .md-list-item-inner {
        padding-top: 4px;
        padding-bottom: 4px;
      }
      &.selected {
        position: relative;
        margin: 8px 0;
        &:after {
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-left-color: white;
          border-width: @arrow-size;
          margin-top: -@arrow-size;
        }
        &.first {
          margin-top: 0;
        }
        &.last {
          margin-bottom: 0;
        }
      }
      .name {
        font-weight: bold;
      }
      .dci-number {
        opacity: 0.8;
        font-style: italic;
      }
    }
  }
  .member-details {
    max-height: 100%;
    overflow: auto;
    background-color: @background-color;
  }
}
