{
  "association-magic-board": {
    "host": "localhost",
    "port": 27017,
    "database": "association-magic-board",
    "name": "association-magic-board",
    "connector": "mongodb",
    "username": "",
    "password": ""
  }
}

