#member
  .header-name(ng-if="!edit.name" layout="row")
    md-icon.material-icons.margin-right(md-font-icon="icon-previous" ng-click="back()")
    .name {{ member.lastname | uppercase }} {{ member.firstname }}
    md-icon.material-icons.margin-left(md-font-icon="icon-create" ng-click="editName()" ng-if="!underModification")
    .push(flex)
  .header-name(ng-if="edit.name")
    form(name="editNameForm" layout="row" novalidate)
      md-input-container(flex)
        label Nom
        input(type="text" required ng-model="editedMember.lastname")
      md-input-container(flex)
        label Prénom
        input(type="text" required ng-model="editedMember.firstname")
    .actions(layout="row")
      span(flex)
      md-button.md-button(ng-click="cancelName()") Annuler
      md-button.md-button.md-primary(ng-click="saveName(editNameForm)" ng-disabled="!editNameForm.$valid") Enregistrer

  .informations(flex="100" layout="column" layout-align="center start")
    .block.md-whiteframe-z1
      .header-title(layout="row")
        .title Informations générales
        .push(flex)
        md-icon.material-icons(md-font-icon="icon-create" ng-click="editGlobalInfo()" ng-if="!underModification")
      .content(ng-if="!edit.globalInfo")
        .info
          span.subtitle DCI:
          span.value  {{ member.dci_number }}
        .info
          span.subtitle Email:
          span.value(ng-if="member.email")  {{ member.email }}
          span.value(ng-if="!member.email")  Pas de mail renseigné
      .content(ng-if="edit.globalInfo")
        form(name="editGlobalInfoForm" novalidate)
          md-input-container
            label Numéro DCI
            input(type="text" name="dci_number" required ng-model="editedMember.dci_number" dci-input)
            div(ng-messages="add.dci_number.$error" ng-show="add.dci_number.$error.dci_number")
              div(ng-message="dci_number") Numéro DCI déjà utilisé
          md-input-container
            label Email
            input(type="email" ng-model="editedMember.email")
        .actions(ng-if="edit.globalInfo" layout="row")
          span(flex)
          md-button.md-button(ng-click="cancelGlobalInfo()") Annuler
          md-button.md-button.md-primary(ng-click="saveGlobalInfo(editGlobalInfoForm)" ng-disabled="!editGlobalInfoForm.$valid") Enregistrer

    .block.md-whiteframe-z1
      .header-title
        .title Saisons
      md-list.seasons
        md-list-item(ng-repeat="season in seasons | orderBy:'-start'" ng-class="{'first': $first, 'last': $last}")
          md-list-item-text(layout="row" ng-if="season.contributions.length > 0" layout-align="start center" layout-wrap)
            div(layout="column")
              .title {{ season.name }}
              .value(ng-if="!season.isEditing") {{ season.contributions[0].amount }} € le {{ season.contributions[0].date | date:'dd/MM/yyyy'}}
            .push(flex)
            md-icon.material-icons(md-font-icon="icon-create" ng-click="editContribution(season)" ng-if="!underModification")
            div(ng-if="season.isEditing" flex="100")
             form(name="editContributionForm" layout="row" novalidate)
               md-input-container.amount(flex)
                 label Montant (€)
                 input(type="number" ng-model="editedContribution.amount" required)
               mdc-date-picker(flex model="editedContribution.date" label="Date").date
             .actions(layout="row")
               span(flex)
               md-button.md-button(ng-click="cancelEditContribution(season)") Annuler
               md-button.md-button.md-primary(ng-click="saveEditContribution(editContributionForm, season)" ng-disabled="!editContributionForm.$valid") Enregistrer

          md-list-item-text(layout="row" ng-if="season.contributions.length == 0" layout-align="start center" layout-wrap)
            div(layout="column")
              .title {{ season.name }}
              .value(ng-if="!season.isAdding")  Non membre
            .push(flex)
            md-icon.material-icons(md-font-icon="icon-add" ng-click="addContribution(season)" ng-if="!underModification")
            div(ng-if="season.isAdding" flex="100")
              form(name="addContributionForm" layout="row" novalidate)
                md-input-container.amount(flex)
                  label Montant (€)
                  input(type="number" ng-model="newContribution.amount" required)
                mdc-date-picker.date(flex model="newContribution.date" label="Date")
              .actions(layout="row")
                .push(flex)
                md-button.md-button(ng-click="cancelAddContribution(season)") Annuler
                md-button.md-button.md-primary(ng-click="saveAddContribution(addContributionForm, season)" ng-disabled="!addContributionForm.$valid") Enregistrer


