md-content#seasons(layout="row" layout-align="center")
  .no-seasons(ng-if="seasons.length == 0")
    | Aucune saison
  selectable-list.seasons(ng-if="seasons.length > 0" flex="100" layout="column" layout-align="start center" layout-fill)
    selectable-item.season(
      ng-repeat="season in seasons | orderBy:['-start']"
      flex
      id="{{ 'season' + season.id }}"
    )
      .name {{ season.name }}
      .date {{ season.start | date }} - {{ season.end | date }}
      .total-contributions {{ totalContributions(season) }} € de cotisations payées
      .total-members {{ season.members.length }} membres inscrits
      .members(ng-if="parent.selected")
        ul(ng-if="season.members.length > 0")
          li(ng-repeat="member in season.members") {{ member.lastname | uppercase }} {{ member.firstname }}
        span(ng-if="season.members.length == 0") Pas de membre

md-button.md-fab.main-button(aria-label="Add", ng-click="add($event)" layout="column" layout-align="center center")
  ng-md-icon(icon="add", style="fill: white" flex)

