#season
  .header-name(ng-if="!edit.name" layout="row")
    .name {{ season.name }}
    md-icon.material-icons(md-font-icon="icon-create" ng-click="editName()" ng-if="!underModification")
    .push(flex)
  .header-name(ng-if="edit.name")
    form(name="editNameForm" layout="row" novalidate)
      md-input-container
        label Nom
        input(type="text" required ng-model="editedSeason.name")
    .actions(layout="row")
      span(flex)
      md-button.md-button(ng-click="cancelName()") Annuler
      md-button.md-button.md-primary(ng-click="saveName(editNameForm)" ng-disabled="!editNameForm.$valid") Enregistrer

  .informations(flex="100" layout="column" layout-align="center start")
    .block.md-whiteframe-z1
      .header-title(layout="row")
        .title(flex) Informations générales
      .content(ng-if="!edit.dates")
        .info.dates(layout="row")
          .subtitle Dates
          .value  {{ season.start | date:'dd/MM/yyyy' }} - {{ season.end | date:'dd/MM/yyyy' }}
          md-icon.material-icons.md-icon-16(md-font-icon="icon-create" ng-click="editDates()")
        .info
          span.subtitle Nombre de membres
          span.value  {{ season.contributions.length }} membres inscrits
        .info
          span.subtitle Total des cotisations
          span.value  {{ totalContributions(season) }} €
      .content(ng-if="edit.dates")
        form(name="editDatesForm" layout="row" novalidate)
          mdc-date-picker(flex model="editedSeason.start" label="Début")
          mdc-date-picker(flex model="editedSeason.end" label="Fin").end
        .actions(layout="row")
          span(flex)
          md-button.md-button(ng-click="cancelDates()") Annuler
          md-button.md-button.md-primary(ng-click="saveDates(editDatesForm)" ng-disabled="!editDatesForm.$valid") Enregistrer


    .block.md-whiteframe-z1
      .header-title(layout="row")
        .title(flex) Membres
      md-list.members(ng-if="season.contributions.length > 0")
        md-list-item(ng-repeat="contribution in season.contributions | orderBy:'member.lastname'" ng-class="{'first': $first, 'last': $last}")
          md-list-item-text
            .title
              a.no-style(ui-sref="members.details({id: contribution.member.id })")
                | {{ contribution.member.lastname | uppercase }} {{ contribution.member.firstname }}
            .value  ({{ contribution.amount }} € le {{ contribution.date | date:'dd/MM/yyyy' }})
      .content(ng-if="season.contributions.length == 0")
        .info
          span.value Pas de membres
