md-dialog#add-season(aria-label="Add dialog")
  md-content
    .dialog-content
      form(name="add")
        md-input-container
          label Nom
          input(type="text" required ng-model="season.name")
        md-input-container
          label Début
          input(type="date" required ng-model="season.start")
        md-input-container
          label Fin
          input(type="date" required ng-model="season.end")
        .md-action(layout="row" layout-align="right")
          md-button(ng-click="cancel($event)" flex) Annuler
          md-button.md-primary(ng-click="create($event)" flex ng-disabled="!add.$valid") Ajouter
