#new-tournament.md-whiteframe-z1
  form(name="add" novalidate ng-if="tournament.seasonId" layout="column")
    md-input-container
      label Nom
      input(type="text" required ng-model="tournament.name")
    mdc-date-picker(model="tournament.date" label="Date du tournoi")
    div(layout="row")
      md-input-container(flex)
        label Nombre de rondes du tournois
        input(type="number" required ng-model="tournament.nbOfRounds")
      md-input-container(flex)
        label Nombre de points accordés aux membres
        input(type="number" required ng-model="tournament.leaguePoints")
    md-checkbox(ng-model="tournament.hasTop8") Top8?

    input(type="file" on-read-file="parseFile($fileContent)" ng-disabled="isLoading")
    ul(ng-if="!isLoading")
      li(ng-repeat="result in results")
        span.position {{ result._Rank}}:
        span.member(ng-if="result.member")  {{ result.member.lastname | uppercase }} {{ result.member.firstname }} (membre)
        span.member(ng-if="!result.member")  {{ result._Name }}, {{ result._DCI }} (non membre)
    div(layout-align="center" layout="row" ng-if="isLoading")
      md-progress-circular.md-hue-2(md-mode="indeterminate")

    .md-action(layout="row" layout-align="right")
      md-button(ng-click="cancel($event)" flex) Annuler
      md-button.md-primary(ng-click="create($event)" flex ng-disabled="!add.$valid || isLoading || !results") Ajouter

    div(ng-if="!tournament.seasonId")
      span Impossible d'importer un tournoi sans avoir de saison en cours définie.
      span Veuillez définir une saison en cours
      a(ui-sref="seasons") ici
